:root {
  --deep-blue: #2060a8;
  --light-blue: #61AFF0;
  --deep-orange: #ff7a6e;
  --light-orange: #DEA584;
  --white: #f5f5f5;
  --dim-white: #c5cfdb;
  --dim-black: #2c333a;
  --light-gray: #d5dde3;
  --deep-gray: #444444;

  --link-color: #61AFF0;
  --active-color: #61AFF0;
  --text-dark: #333333;
}
@font-face{
  font-family:"Cascadia Code";
  font-style:normal;
  font-weight:normal;
  src: local('Cascadia Code'), url('/assets/fonts/Cascadia.woff'),url(https://fonts.cdnfonts.com/s/29131/Cascadia.woff) format('woff')
}
/* no bold for Cascadia Code */
@font-face{
  font-family:"Cascadia Code";
  font-style:normal;
  font-weight:bold;
  src: local('Cascadia Code'), url('/assets/fonts/Cascadia.woff'),url(https://fonts.cdnfonts.com/s/29131/Cascadia.woff) format('woff')
}
@font-face{
  font-family:Alice;
  font-style:normal;
  font-weight:400;
  src: local('Alice'), url('/assets/fonts/Alice-Regular.woff2'),url(https://github.com/cyrealtype/Alice/blob/master/fonts/webfonts/Alice-Regular.woff2?raw=true) format('woff2')
}
body {
  /* ref: https://stackoverflow.com/a/44000322/6734174 */
  width: 100vw;
  counter-reset: h1_cnt;
  overflow-x: hidden;
}
.bg-main {
  background-color: var(--white);
}
h1 {
  font-size: 1.5rem;
  counter-reset: h2_cnt;
}
h2 {
  font-size: 1.4rem;
  counter-reset: h3_cnt;
}
h3 {
  font-size: 1.35rem;
  counter-reset: h4_cnt;
}
h4 {
  font-size: 1.3rem;
  counter-reset: h5_cnt;
}
h5 {
  font-size: 1.25rem;
  counter-reset: h6_cnt;
}
h6 {
  font-size: 1.2rem;
}
h1.article-heading:after {
  content: "";
  display: block;
  border-bottom: 2px solid #dfe2e5;
}
h1.article-heading:before,
h2.article-heading:before,
h3.article-heading:before,
h4.article-heading:before,
h5.article-heading:before,
h6.article-heading:before {
  font-family: "Alice";
  font-display: swap;
  font-size: 97%;
  color: var(--deep-blue);
  padding-right: 0.45em;
}
h1.article-heading:before {
  counter-increment: h1_cnt;
  content: counter(h1_cnt) ".";
}
h2.article-heading:before {
  counter-increment: h2_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt);
}
h3.article-heading:before {
  counter-increment: h3_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt);
}
h4.article-heading:before {
  counter-increment: h4_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "."
    counter(h4_cnt);
}
h5.article-heading:before {
  counter-increment: h5_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "."
    counter(h4_cnt) "." counter(h5_cnt);
}
h6.article-heading:before {
  counter-increment: h6_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "."
    counter(h4_cnt) "." counter(h5_cnt) "." counter(h6_cnt);
}
body,
p,
ul,
li,
summary,
details,
body article,
.link-reverse,
.sans-serif {
  font-family: "Noto Sans TC", -apple-system,
    BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica,
    ubuntu, noto, "segoe ui", arial, sans-serif;
  font-display: swap;
  word-break: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6,
.serif {
  font-family: "Alice", "Noto Sans TC", -apple-system,
    BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica,
    ubuntu, noto, "segoe ui", arial, sans-serif;
  font-display: swap;
  word-break: break-word;
  margin: 0em;
  padding: 0.6em 0em 0.3em;
}
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,
p > code,
li > code,
a > code,
td > code {
  font-size: 95%;
  background: var(--light-gray);
  margin: 0;
  border-radius: 3px;
  padding: 0.15em 0.25em;
}
h1:hover .hover-show,
h2:hover .hover-show,
h3:hover .hover-show,
h4:hover .hover-show,
h5:hover .hover-show,
h6:hover .hover-show {
  opacity: 1;
}
pre, code {
  font-family: "Cascadia Code", "Consolas", "monaco", "monospace";
  font-display: swap;
}
pre {
  border-style: hidden;
  font-size: 0.95rem !important;
  max-width: 100%;
  height: auto;
}

table pre {
  padding: 0em !important;
}
label.code-label {
  font-size: 85%;
  color: #f6f6f6;
  background-color: var(--active-color);
  padding:1px 5px;
  border-radius: 3px 3px 0 0;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  min-width: 1rem;
}
div.highlight > pre {
  margin-top: 0 !important;
}
a.code-copy{
  margin-left: auto;
}
div.code-meta + div.highlight > pre {
  border-radius: 0 3px 3px 3px !important;
} /* TODO label.code-label + div.highlight table  */
#hdr {
  text-shadow: black 0.1em 0.1em 0.2em;
}
/* details/summary animation https://stackoverflow.com/a/67814400 */
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}
details {
  margin-left: 5px;
}
p,
summary,
table {
  margin: 0 0 1em;
}
div.highlight {
  margin: 0 0 1em !important;
}
h1 + ol, h1 + ul,
h2 + ol, h2 + ul,
h3 + ol, h3 + ul,
h4 + ol, h4 + ul,
h5 + ol, h5 + ul,
h6 + ol, h6 + ul {
  margin-top: -0.1em;
}
ol, ul {
  margin: 0 0 1em;
  padding-left: 1.2em;
}
ol p, ul p, ol ol, ol ul, ul ol, ul ul {
  margin: 0;
}
/* list styles */
ol { list-style-type: decimal; }
ol ol { list-style-type: upper-alpha; }
ol ol ol {list-style-type: upper-roman; }
ol ol ol ol {list-style-type: lower-alpha; }
ol ol ol ol ol {list-style-type: lower-roman; }
ol ol ol ol ol ol {list-style-type: lower-greek; }
ol ol ol ol ol ol ol {list-style-type: decimal; }
ul { list-style: disc outside; }
ul ul { list-style: circle outside; }
ul ul ul {list-style: square outside; }
ul ul ul ul {list-style: disc outside; }
ul ul ul ul ul {list-style: circle outside; }
ul ul ul ul ul ul {list-style: square outside; }
ul ul ul ul ul ul ul { list-style: disc outside; }

.post-meta ul {
  padding: 0;
}
p,
summary,
table,
ul,
li {
  font-size: 1.02rem !important;
  line-height: 1.753em;
  letter-spacing: .03em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.row {
  display: flex;
}
.col-1 {
  float: left;
  flex: 80%;
  max-width: 100%;
}
.img-container {
  width: 88%;
}
@media screen and (max-width: 600px) {
  .col-2 {
    display: none;
  }
  .side-bar {
    display: none;
  }
  .img-container {
    height: 100%;
  }
}
.side-bar {
  max-width: 25%;
  line-height: 0.1rem;
}
.side-bar * {
  font-size: 97%;
}
.col-2 {
  float: left;
  flex: 16.666667%;
  max-width: 16.666667%;
  padding-top: 2vh;
  margin-right: 14vw;
  line-height: 0.1rem;
}

a {
  color: var(--deep-blue);
}
a:hover, a:active {
  color: var(--light-blue) !important;
  transition: color .15s ease-in;
}
a.no-color, a.no-color:hover, a.no-color:active {
  color: var(--text-dark) !important;
}
a,
a:hover,
.no-underline-on-hover:hover {
  text-decoration: none;
}

.toc-nav li,
.toc-nav ul {
  list-style: none;
  padding-left: 1vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.8vw;
  height: auto;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: .1rem;
}

.toc-nav .toc-item,
.toc-nav .toc-link {
  font-size: 95%;
  font-weight: 400;
  line-height: 1.35em;
  padding: 0 5px;
  color: var(--deep-gray);
  -webkit-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}

.toc-nav a.toc-link:hover {
  background-color: transparent;
  border-left: 0.035rem solid #38849e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--active-color);
  font-weight: 600;
}

.toc-nav a.toc-link.active,
.toc-nav a.toc-link:active {
  background-color: transparent;
  color: var(--active-color);
  border-left: 0.125rem solid var(--active-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
}

.text-center {
  text-align: center !important;
}

.title-link:hover {
  color: #f4f4f4;
  font-weight: 700;
  opacity: 0.7;
  text-decoration: none;
}

main {
  min-height: 80vh;
}

summary,
.goto {
  cursor: pointer;
}

summary:hover,
.goto:hover {
  color: var(--active-color);
}

.hover-show {
  opacity: 0;
}
.hover-show:hover {
  opacity: 1;
}

@media (hover: none) {
  h1 .hover-show,
  h2 .hover-show,
  h3 .hover-show,
  h4 .hover-show,
  h5 .hover-show,
  h6 .hover-show {
    opacity: 1;
  }
}
blockquote > p {
  margin: 0.9em 0 0.3em;
  font-family: "Alice", "Noto Sans TC", "Times";
  font-display: swap;
  font-size: 100% !important;
}

blockquote {
  margin: 1em auto;
  font-style: unset;
  padding: 1em .5em 1em 1em;
  border: 1px solid var(--deep-blue);
  border-left: 7px solid var(--deep-blue);
  line-height: 1.2;
  position: relative;
  background: var(--white);
}

blockquote > p:first-child:before {
  content: "\201C";
  color: var(--deep-blue);
  font-size: 370%;
  /* width: 20%; */
  /* display: block; */
  /* position: absolute; */
  /* float: left; */
  /* left: 0; */
  /* top: 0; */
  /* margin: 0vh 0vw 1vh -1vw; */
}

.gphoto-media {
  max-width: 100%;
  max-height: 100%;
}
font.douyin {
  text-shadow: -2px 0 rgba(0, 255, 255, 0.5), 2px 0 rgba(255, 0, 0, 0.5);
  animation: shake-it 0.5s reverse infinite
    cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@-moz-keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}

@-webkit-keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}

@-o-keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}

@keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}
.img-zoomable {
  transition: transform 0.4s ease-in;
}
.img-zoomable:hover {
  transform: scale(1.02);
}
a.footnote-ref,
a.footnote-backref {
  color: var(--deep-blue);
}
a.footnote-ref:hover,
a.footnote-backref:hover {
  color: var(--light-blue);
  transition: color 0.15s ease-in;
}

.footnote-ref:before,
a.footnote-backref:before {
  content: "";
  color: var(--deep-blue);
}
.footnote-ref:after,
a.footnote-backref:after {
  content: "";
  color: var(--deep-blue);
}
.footnotes p {
  margin: 0;
}
/* Scrollbar style,
    ref: https://noootown.wordpress.com/2016/01/23/css-custom-scrollbar/
    ref: https://stackoverflow.com/a/22907848/6734174
*/
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 7px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}

body::-webkit-scrollbar:horizontal { /* only hide the outter scrollbar */
  height: 0px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #aaaaaa;
}
#toc-scroll {
  max-height: 50vh;
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.noselect {
  /* https://stackoverflow.com/a/4407335/6734174 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Opera and Firefox */
}

/* https://codepen.io/DobsonDev/pen/GgRJwv */
/* Alert section */
.alert-msg {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 0px 0px 3px 3px;
  font-size: 1rem !important;
  font-family: "Noto Sans TC", -apple-system,
    BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica,
    ubuntu, noto, "segoe ui", arial, sans-serif;
  font-display: swap;
  word-break: break-word;
}
.alert-title {
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 1rem !important;
  border-radius: 3px 3px 0px 0px;
}
.alert-msg > p {
  margin-bottom: 0;
}
.alert-msg {
  color: var(--text-dark);
  background-color: var(--white);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(255, 255, 255, 0.12);
}
.alert-title {
  color: var(--text-dark);
}
/* color: https://github.com/sonph/onehalf */
.info-msg {
  border: 1px solid #61AFF0;
}
.info-title {
  background-color: #61AFF0;
}
.success-msg {
  border: 1px solid #99C279;
}
.success-title {
  background-color: #99C279;
}
.warning-msg {
  border: 1px solid #E5C07B;
}
.warning-title {
  background-color: #E5C07B;
}
.danger-msg {
  border: 1px solid #E16C74;
}
.danger-title {
  background-color: #E16C74;
}
.footer {
  border-top: 1px solid #dfe2e5;
  border-bottom: 1px solid #dfe2e5;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  margin: 0;
  padding: 0;
  text-align: right;
  grid-column-start: 1;
}

dd {
  margin-left: 0.5rem;
  text-align: left;
  grid-column-start: 2;
}

.summary {
  font-size: 80% !important;
}

p.footer-summary {
  font-size: 80% !important;
}

/* dark mode begin
 Ref: https://yonkov.github.io/post/add-dark-mode-toggle-to-hugo/
*/
body.dark-mode,
body.dark-mode .bg-main,
body.dark-mode main *
:not(
  pre, pre *, code, a, label.code-label, div.highlight *, table, table *, .alert-title, .alert-title *,
  .page-link span, .bg-black *, li.nested-links *, .post-meta *, .post-item *, .gsc-control-cse, .gsc-control-cse *) {
  background: var(--dim-black);
  color: var(--dim-white);
}
body.dark-mode table {
  color: #000000;
}
body.dark-mode table * {
  background: var(--dim-white);
}
body.dark-mode div.highlight * {
  background-color: initial;
}
body.dark-mode span.MathJax *,
body.dark-mode mjx-texatom *{
  background: var(--dim-black) !important;
}
body.dark-mode pre,
body.dark-mode code {
  background: var(--deep-gray);
}
body.dark-mode > div.CtxtMenu_MenuFrame > div.CtxtMenu_Info.CtxtMenu_MousePost > div > pre {
  background: var(--dim-white);
}
body.dark-mode .post-item .meta,
body.dark-mode .toc-link,
body.dark-mode .toc-nav,
body.dark-mode .toc-item,
body.dark-mode .title-link,
body.dark-mode .fa-camera,
body.dark-mode h1 a,
body.dark-mode #menu-bar * {
  color: var(--dim-white);
}
body.dark-mode a,
body.dark-mode a p.footer-summary,
body.dark-mode a i.fa-caret-square-down,
body.dark-mode a i.fa-caret-square-up,
body.dark-mode a i.fa-chevron-circle-right,
body.dark-mode a i.fa-external-link-square-alt,
body.dark-mode a i.fa-sign-out-alt,
body.dark-mode a i.fa-seedling {
  color: var(--deep-orange);
  transition: color 0.15s ease-in !important;
}
body.dark-mode a:hover,
body.dark-mode a:focus,
body.dark-mode a:hover p.footer-summary,
body.dark-mode .post-meta a:hover,
body.dark-mode a:hover .post-meta,
body.dark-mode .post-item a:hover span,
body.dark-mode a:hover i.fas {
  color: var(--light-orange) !important;
  transition: color 0.15s ease-in !important;
}
body.dark-mode h1.article-heading:before,
body.dark-mode h2.article-heading:before,
body.dark-mode h3.article-heading:before,
body.dark-mode h4.article-heading:before,
body.dark-mode h5.article-heading:before,
body.dark-mode h6.article-heading:before,
body.dark-mode blockquote::before,
body.dark-mode blockquote > p:first-child:before {
  color: var(--deep-orange);
}
body.dark-mode label.code-label {
  color: var(--text-dark);
  background-color: var(--deep-orange);
}
body.dark-mode .toc-nav a.toc-link.active,
body.dark-mode .toc-nav a.toc-link:active,
body.dark-mode .toc-nav a.toc-link:hover {
  color: var(--light-orange);
  border-left: 0.125rem solid var(--light-orange);
}

body.dark-mode .tags-sm a,
body.dark-mode .tags-md a,
body.dark-mode .post-meta a {
  color: var(--dim-white);
}

body.dark-mode .tags-sm a:hover,
body.dark-mode .tags-sm a:active,
body.dark-mode .tags-md a:hover,
body.dark-mode .tags-md a:active {
  color: var(--light-orange);
  border: 1px solid var(--light-orange);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(255, 255, 255, 0.12);
}
body.dark-mode blockquote {
  border: 1px solid var(--deep-orange);
  border-left: 7px solid var(--deep-orange);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(255, 255, 255, 0.12);
}
body.dark-mode li.page-item.active a { /* active current page */
  color: var(--dim-white);
  background-color: var(--deep-orange);
  border: var(--deep-orange);
}
/* dark mode end */

#gotop_btn {
  display: none;
  left: 95vw;
  bottom: 5%;
  float: left;
  width: 40px;
  height: 40px;
  position: sticky!important;
  font-size: 80%;
  background: #777777;
  color: var(--white);
  cursor: pointer;
  border-radius: 8px;
  z-index: 1;
  margin: auto;
}

/**
 * footnote tooltip popup bubble
 * Ref: https://www.xianmin.org/hugo-theme-jane/post/doc-footnote-preview/
 * Ref: https://github.com/xianmin/hugo-theme-jane/search?q=footnote
 */
.footnote-ref-wrapper:hover .fn-content {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.fn-content {
  position: absolute;
  display: inline-block;
  z-index: 14;
  left: 50%;
  bottom: 100%;
  border-radius: .5em;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: var(--white);
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0,-10px,0);
  transition: all .87s
}

body.dark-mode .fn-content {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.fn-content .fn-text p {
  display: inline-block !important;
  font-size: 110% !important;
  padding: .6em;
  margin: 0;
  z-index: 8;
  text-align: left;
  width: max-content;
  max-width: 20rem;
}
/**
 * footnote tooltip popup bubble end
 */

@media print {
  .sidebar,
  .menu,
  .footer,
  #disqus_thread,
  #gotop_btn *,
  #toc {
    display: none;
  }
  #hdr * {
    font-family:"georgia", "times", "serif";
    font-size: 1rem !important;
    text-shadow: none;
  }
  .post-meta * {
    font-size: 0.5rem !important;
  }
  article * {
    font-family: "Noto Sans TC", "georgia", "times", "serif";
    font-size: 1rem !important;
  }
  pre *, code {
    font-family: "Cascadia Code", "Consolas", "monaco", "monospace";
    font-size: 0.5rem !important;
    white-space: pre-wrap;
  }
  pre, :not(pre) > code {
    border: 1px solid #dfe2e5;
  }
  h1.article-heading:before,
  h2.article-heading:before,
  h3.article-heading:before,
  h4.article-heading:before,
  h5.article-heading:before,
  h6.article-heading:before {
    color: #000000 !important;
  }
}
/**
 * Submenu in navbar
*/
.subnav-content {
  position: absolute;
  background-color: #6e6e6e78;
  width: max-content;
  box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.25s ease-in;
}
.subnav {
  display: inline;
  cursor: pointer;
  position: relative;
  overflow:hidden;
}
.subnav:hover .subnav-content {
  visibility: visible;
  opacity: 1;
}
.subnav-content a {
  text-decoration: none;
  display: block;
  padding-right: 1rem;
  padding-top: 0.4rem;
  text-align: left;
}

.gallery-wrapper {
  display: grid;
}
p:empty {
  display:none;
}
li.page-item.active a { /* active current page */
  color: var(--white);
  background-color: var(--deep-blue);
  border: var(--deep-blue);
}