:root {
  --deep-blue: #357edd;
  --light-blue: #96ccff;
  --deep-orange: #ff6456;
  --light-orange: #ffb980;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}
body {
  /* ref: https://stackoverflow.com/a/44000322/6734174 */
  width: 100vw;
  counter-reset: h1_cnt;
}
h1 {
  font-size: 1.7rem;
  counter-reset: h2_cnt;
}
h2 {
  font-size: 1.6rem;
  counter-reset: h3_cnt;
}
h3 {
  font-size: 1.5rem;
  counter-reset: h4_cnt;
}
h4 {
  font-size: 1.4rem;
  counter-reset: h5_cnt;
}
h5 {
  font-size: 1.3rem;
  counter-reset: h6_cnt;
}
h6 {
  font-size: 1.2rem;
}
h1.article-heading:after {
  content: "";
  display: block;
  border-bottom: 2px solid #dfe2e5;
}
h1.article-heading:before,
h2.article-heading:before,
h3.article-heading:before,
h4.article-heading:before,
h5.article-heading:before,
h6.article-heading:before {
  font-family: "Milonga";
  font-size: 85%;
  color: #2060a8;
  padding-right: 0.45em;
  vertical-align: middle;
}
h1.article-heading:before {
  counter-increment: h1_cnt;
  content: counter(h1_cnt) ".";
}
h2.article-heading:before {
  counter-increment: h2_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt);
}
h3.article-heading:before {
  counter-increment: h3_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt);
}
h4.article-heading:before {
  counter-increment: h4_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "."
    counter(h4_cnt);
}
h5.article-heading:before {
  counter-increment: h5_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "."
    counter(h4_cnt) "." counter(h5_cnt);
}
h6.article-heading:before {
  counter-increment: h6_cnt;
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "."
    counter(h4_cnt) "." counter(h5_cnt) "." counter(h6_cnt);
}
body,
p,
ul,
li,
summary,
details,
body article,
.link-reverse {
  font-family: "Noto Sans TC", "Quattrocento Sans", -apple-system,
    BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica,
    ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  word-break: break-word;
}
code {
  font-family: "Roboto Mono", "Consolas", "monaco", "monospace";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", "Noto Sans TC", "Quattrocento Sans", -apple-system,
    BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica,
    ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  word-break: break-word;
  margin: 0em;
  padding: 0.6em 0em 0.3em;
}
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code {
  font-size: 90%;
  background: #f5f5f5;
  margin: 0;
  border-radius: 5px;
  padding: 0.15em 0.25em;
}
h1:hover .hover-show,
h2:hover .hover-show,
h3:hover .hover-show,
h4:hover .hover-show,
h5:hover .hover-show,
h6:hover .hover-show {
  opacity: 1;
}
pre {
  font-family: "Roboto Mono", "Consolas", "monaco", "monospace";
  border-style: hidden;
  font-size: 0.9rem !important;
  max-width: 100%;
  height: auto;
}
table pre {
  padding: 0em !important;
}
label.code-label {
  font-size: 60%;
  color: #f6f6f6;
  background-color: var(--deep-blue);
  padding:1px 5px;
  border-radius: 7px 7px 0 0;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  min-width: 1rem;
}
div.highlight > pre {
  margin-top: 0 !important;
}
#hdr {
  text-shadow: black 0.1em 0.1em 0.2em;
}
/* details/summary animation https://stackoverflow.com/a/67814400 */
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}
details {
  margin-left: 5px;
}
p,
summary,
table {
  font-size: 1rem !important;
  line-height: 1.653em;
  margin: 0 0 1.3em;
}
div.highlight {
  margin: 0 0 1.3em !important;
}
p + ul {
  margin-top: -1.2em;
}
p + ol {
  margin-top: -1.2em;
}
p + details {
  margin-top: -1.0em;
}
ul {
  margin: 0 0 1.3em;
}
ul,
li {
  font-size: 1rem !important;
  line-height: 1.653em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.row {
  display: flex;
}
.col-1 {
  float: left;
  flex: 80%;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  .col-2 {
    display: none;
  }
  .side-bar {
    display: none;
  }
  .img-container {
    height: 100%;
  }
}
.side-bar {
  max-width: 25%;
  line-height: 0.1rem;
}
.side-bar * {
  font-size: 97% !important;
}
.col-2 {
  float: left;
  flex: 16.666667%;
  max-width: 16.666667%;
  padding-top: 2vw;
  margin-right: 6vw;
  line-height: 0.1rem;
}

a,
a:hover,
.no-underline-on-hover:hover {
  text-decoration: none;
}

.toc-nav li,
.toc-nav ul {
  list-style: none;
  padding-left: 1vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.8vw;
  height: auto;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.toc-nav .toc-item,
.toc-nav .toc-link {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.35em;
  padding: 0 5px;
  color: #444444;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}

.toc-nav a.toc-link:hover {
  background-color: transparent;
  border-left: 0.035rem solid #38849e;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #428bca;
  font-weight: 600;
}

.toc-nav a.toc-link.active,
.toc-nav a.toc-link:active {
  background-color: transparent;
  color: #428bca;
  border-left: 0.125rem solid #428bca;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
}

.text-center {
  text-align: center !important;
}

.title-link:hover {
  color: #f4f4f4;
  font-weight: 700;
  opacity: 0.7;
  text-decoration: none;
}

main {
  min-height: 80vh;
}

summary,
.goto {
  cursor: pointer;
}

summary:hover,
.goto:hover {
  color: #428bca;
}

.hover-show {
  opacity: 0;
}
.hover-show:hover {
  opacity: 1;
}

@media (hover: none) {
  h1 .hover-show,
  h2 .hover-show,
  h3 .hover-show,
  h4 .hover-show,
  h5 .hover-show,
  h6 .hover-show {
    opacity: 1;
  }
}
blockquote > p {
  margin: 0.9em 0 0.3em;
  font-family: "Lora", "Noto Sans TC", "Quattrocento Sans";
  font-size: 98% !important;
}

blockquote {
  margin: 30px auto;
  font-style: unset;
  color: #555555;
  padding: 1.2em 10px 1.2em 40px;
  border-left: 8px solid #2060a8;
  line-height: 1.2;
  position: relative;
  background: #ededed;
}

blockquote::before {
  content: "\201C";
  color: #2060a8;
  font-size: 350%;
  position: absolute;
  left: -1rem;
  top: 0;
}

.gphoto-media {
  max-width: 100%;
  max-height: 100%;
}
font.douyin {
  text-shadow: -2px 0 rgba(0, 255, 255, 0.5), 2px 0 rgba(255, 0, 0, 0.5);
  animation: shake-it 0.5s reverse infinite
    cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@-moz-keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}

@-webkit-keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}

@-o-keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}

@keyframes shake-it {
  0% {
    text-shadow: 0 0 rgba(0, 255, 255, 0.5), 0 0 rgba(255, 0, 0, 0.5);
  }
  25% {
    text-shadow: -1px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    text-shadow: -3px 0 rgba(0, 255, 255, 0.5), 1px 0 rgba(255, 0, 0, 0.5);
  }
  100% {
    text-shadow: 1px 0 rgba(0, 255, 255, 0.5), 3px 0 rgba(255, 0, 0, 0.5);
  }
}
.img-zoomable {
  transition: transform 0.4s ease-in;
}
.img-zoomable:hover {
  transform: scale(1.02);
}
a.footnote-ref,
a.footnote-backref {
  color: var(--deep-blue);
}
a.footnote-ref:hover,
a.footnote-backref:hover {
  color: var(--light-blue);
  transition: color 0.15s ease-in;
}

.footnote-ref:before,
a.footnote-backref:before {
  font-family: "Roboto Mono";
  content: "";
  color: var(--deep-blue);
}
.footnote-ref:after,
a.footnote-backref:after {
  font-family: "Roboto Mono";
  content: "";
  color: var(--deep-blue);
}
.footnotes p {
  margin: 0;
}
/* Scrollbar style,
    ref: https://noootown.wordpress.com/2016/01/23/css-custom-scrollbar/
    ref: https://stackoverflow.com/a/22907848/6734174
*/
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 7px;
}
::-webkit-scrollbar:horizontal {
  height: 7px;
}

body::-webkit-scrollbar:horizontal { /* only hide the outter scrollbar */
  height: 0px;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #aaaaaa;
}
#toc-scroll {
  max-height: 50vh;
  overflow-y: scroll;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.noselect {
  /* https://stackoverflow.com/a/4407335/6734174 */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Opera and Firefox */
}

/* https://codepen.io/DobsonDev/pen/GgRJwv */
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  font-size: 1rem !important;
  font-family: "Noto Sans TC", "Quattrocento Sans", -apple-system,
    BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica,
    ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  word-break: break-word;
  overflow-x: scroll !important;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
.footer {
  border-top: 1px solid #dfe2e5;
  border-bottom: 1px solid #dfe2e5;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  margin: 0;
  padding: 0;
  text-align: right;
  grid-column-start: 1;
}

dd {
  margin-left: 0.5rem;
  text-align: left;
  grid-column-start: 2;
}

.summary {
  font-size: 80% !important;
}

p.footer-summary {
  font-size: 80% !important;
}

/* dark mode begin
 Ref: https://yonkov.github.io/post/add-dark-mode-toggle-to-hugo/
*/
body.dark-mode,
body.dark-mode .bg-white,
body.dark-mode main *
:not(
  pre, pre *, code, a, label.code-label, div.highlight *,
  .info-msg, .info-msg *, .success-msg, .success-msg *, .warning-msg, .warning-msg *, .error-msg, .error-msg *, 
  .page-link span, .bg-black *, li.nested-links *, .post-meta *, .post-item *, .gsc-control-cse, .gsc-control-cse *) {
  background: rgb(45, 45, 45);
  color: #f5f5f5;
}
body.dark-mode span.MathJax *,
body.dark-mode mjx-texatom *{
  background: rgba(45, 45, 45, 0) !important;
}
body.dark-mode pre,
body.dark-mode code {
  background: rgb(39,40,33);
}
body.dark-mode > div.CtxtMenu_MenuFrame > div.CtxtMenu_Info.CtxtMenu_MousePost > div > pre {
  background: rgb(246,248,250);
}
body.dark-mode .post-item .meta,
body.dark-mode .toc-link,
body.dark-mode .toc-nav,
body.dark-mode .toc-item,
body.dark-mode .title-link,
body.dark-mode .fa-camera,
body.dark-mode h1 a,
body.dark-mode #menu-bar * {
  color: #f5f5f5;
}
body.dark-mode a,
body.dark-mode a p.footer-summary,
body.dark-mode a i.fa-caret-square-down,
body.dark-mode a i.fa-caret-square-up,
body.dark-mode a i.fa-chevron-circle-right,
body.dark-mode a i.fa-external-link-square-alt {
  color: var(--deep-orange);
  transition: color 0.15s ease-in !important;
}
body.dark-mode a:hover,
body.dark-mode a:focus,
body.dark-mode a:hover p.footer-summary,
body.dark-mode .post-meta a:hover,
body.dark-mode a:hover .post-meta,
body.dark-mode .post-item a:hover span,
body.dark-mode a:hover i.fa-caret-square-down,
body.dark-mode a:hover i.fa-caret-square-up,
body.dark-mode a:hover i.fa-chevron-circle-right,
body.dark-mode a:hover i.fa-external-link-square-alt {
  color: var(--light-orange) !important;
  transition: color 0.15s ease-in !important;
}
body.dark-mode h1.article-heading:before,
body.dark-mode h2.article-heading:before,
body.dark-mode h3.article-heading:before,
body.dark-mode h4.article-heading:before,
body.dark-mode h5.article-heading:before,
body.dark-mode h6.article-heading:before,
body.dark-mode blockquote::before {
  color: var(--light-orange);
}
body.dark-mode label.code-label {
  background-color: var(--deep-orange);
}
body.dark-mode .toc-nav a.toc-link.active,
body.dark-mode .toc-nav a.toc-link:active,
body.dark-mode .toc-nav a.toc-link:hover {
  color: var(--light-orange);
  border-left: 0.125rem solid var(--light-orange);
}

body.dark-mode .tags-sm a,
body.dark-mode .tags-md a,
body.dark-mode .post-meta a {
  color: #d1d1d1;
}

body.dark-mode .tags-sm a:hover,
body.dark-mode .tags-sm a:active,
body.dark-mode .tags-md a:hover,
body.dark-mode .tags-md a:active {
  color: var(--light-orange);
  border: 1px solid var(--light-orange);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.16), 0 2px 10px 0 rgba(255, 255, 255, 0.12);
}
body.dark-mode blockquote {
  border-left: 8px solid var(--light-orange);
}
/* dark mode end */

#gotop_btn {
  display: none;
  right: 1%;
  bottom: 5%;
  float: right;
  width: 40px;
  height: 40px;
  position: sticky!important;
  font-size: 80%;
  background: #444444;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  z-index: 1;
  margin: auto;
}

/**
 * footnote tooltip popup bubble
 * Ref: https://www.xianmin.org/hugo-theme-jane/post/doc-footnote-preview/
 * Ref: https://github.com/xianmin/hugo-theme-jane/search?q=footnote
 */
.footnote-ref-wrapper:hover .fn-content {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

.fn-content {
  position: absolute;
  display: inline-block;
  z-index: 14;
  left: 50%;
  bottom: 100%;
  border-radius: .5em;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: #f6f6f6;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0,-10px,0);
  transition: opacity .53s,transform .53s
}

body.dark-mode .fn-content {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.fn-content .fn-text p {
  display: inline-block !important;
  font-size: 90% !important;
  padding: .6em;
  margin: 0;
  z-index: 8;
  text-align: left;
  width: max-content;
  max-width: 20rem;
}
/**
 * footnote tooltip popup bubble end
 */

@media print {
  .sidebar,
  .menu,
  .footer,
  #disqus_thread,
  #gotop_btn *,
  #toc {
    display: none;
  }
  #hdr * {
    font-family:"georgia", "times", "serif";
    font-size: 1rem !important;
    text-shadow: none;
  }
  .post-meta * {
    font-size: 0.5rem !important;
  }
  article * {
    font-family: "Noto Sans TC", "georgia", "times", "serif";
    font-size: 1rem !important;
  }
  pre *, code {
    font-family: "Roboto Mono", "Consolas", "monaco", "monospace";
    font-size: 0.5rem !important;
    white-space: pre-wrap;
  }
  pre, :not(pre) > code {
    border: 1px solid #dfe2e5;
  }
  h1.article-heading:before,
  h2.article-heading:before,
  h3.article-heading:before,
  h4.article-heading:before,
  h5.article-heading:before,
  h6.article-heading:before {
    color: #000000 !important;
  }
}
/**
 * Submenu in navbar
*/
.subnav-content {
  position: absolute;
  background-color: #6e6e6e78;
  width: max-content;
  box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.25s ease-in;
}
.subnav {
  display: inline;
  cursor: pointer;
  position: relative;
  overflow:hidden;
}
.subnav:hover .subnav-content {
  visibility: visible;
  opacity: 1;
}
.subnav-content a {
  text-decoration: none;
  display: block;
  padding-right: 1rem;
  padding-top: 0.4rem;
  text-align: left;
}